.custom-login {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding: 17px;
}
.ui.centered.card {
    background-color: #fafafa;
}
.ui.card.custom-width {
    width: 30%;
}
.ui.card.custom-color {
    background-color: "#d6d6d6";
}
.img-width {
    width: 250px;
    margin-left: 60px;
    padding: 20px;
}
